* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Be Vietnam', sans-serif;
}

.header-nav {
  background-image: url("images/bg-tablet-pattern.svg");
  background-position: -190% 500%;
  background-size: 110%;
  background-repeat: no-repeat;
}

.header-flex {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.logo-img {
  margin: 20%;
  margin-top: 30px;
  width: 120px;
}

.toggle-on-cont {
  position: absolute;
  top: 30px;
  right: 6%;
}

.toggle-off-cont {
  z-index: 100;
  position: absolute;
  top: 30px;
  right: 6%;
  visibility: hidden;
}

.toggle-on {
  background: transparent;
  border-width: 0; 
}

.toggle-off {
  background: transparent;
  border-width: 0;
}

.open-icon, .close-icon {
  cursor: pointer;
}

.menu-container {
  visibility: hidden;
  position: absolute;
  top: 15%;
  width: 90%;
  display: block;
  right: 5%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
}

.header-links {
  text-align: center;
  padding: 10% 0;
}

.header-links li {
  list-style: none;
  padding: 3% 0;
}

.header-links a {
  text-decoration: none;
  color: hsl(228, 39%, 23%);
  font-weight: 700;
}

.illustration-img {
	display: block;
	width: 90%;
	margin: 5% auto 0 auto;
}

.illustration-img-desktop-cont {
  display: none;
}

.press {
  visibility: visible;
}

.press2 {
  visibility: visible;
}

.press3 {
  visibility: hidden;
}

.shadow {
  filter: brightness(65%);
  background: rgba(0, 0, 0, 0.35);
}

.get-started-btn-desktop {
	display: none;
}

.header-text-cont {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 20%;
  background-image: url("images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: 260% 100%;
  background-size: 75%;
}

h1 {
  color: hsl(228, 39%, 23%);
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 2.2rem;
  padding-bottom: 2%;
}

.header-p {
  color: hsl(227, 12%, 61%);
  width: 85%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5%;
  line-height: 1.7rem;
}

.get-started-btn {
  text-align: center;
}

.get-started-btn button {
  padding: 3% 8%;
  background-color: hsl(12, 88%, 59%);
  box-shadow: 0px 3px 10px hsl(12, 88%, 59%);
  border: 0;
  border-radius: 2.5rem;
  color: hsla(13, 100%, 96%, 0.9);
  font-weight: 500;
  font-size: 0.85rem;
  cursor: pointer;
  transition: 0.3s;
}

.get-started-btn button:hover {
  opacity: 0.7;
}

.different-h2 {
  color: hsl(228, 39%, 23%);
  width: 65%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 3%;
}

.different-p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: hsl(227, 12%, 61%);
  font-size: 0.9rem;
  line-height: 1.7rem;
  padding-bottom: 6%;
}

.points-p {
  color: hsl(228, 39%, 23%);
  width: 95%;
  text-align: left;
  margin: 12% 5% 3% 5%;
  padding: 2% 0%;
  background-color: hsl(13, 100%, 96%);
  font-weight: 700;
  border-radius: 2.5rem 0 0 2.5rem;
}

.points-p span {
  color: hsl(0, 0%, 98%);
  padding: 2% 7%;
  text-align: center;
  background-color: hsl(12, 88%, 59%);
  margin-right: 4%;
  border-radius: 2.5rem;
}

.desc-p {
  color: hsl(227, 12%, 61%);
  width: 90%;
  text-align: left;
  margin: 0 auto;
  font-size: 0.82rem;
  line-height: 1.5rem;
}

.patern-desktop {
  display: none;
}

.opinions-section {
  padding-bottom: 10%;
}

.opinions-h2 {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.8rem;
  padding: 15% 0;
}

#opinion-1, #opinion-2, #opinion-3, #opinion-4 {
  width: 90%;
  margin: 10% auto 5% auto;
  background-color: hsl(0, 0%, 98%);
}

#opinion-1 {
  display: block;
}

#opinion-2 {
  display: none;
}

.select-1 {
  display: none;
}

#opinion-3 {
  display: none;
}

#opinion-4 {
  display: none;
}

.profile-img {
  width: 65px;
  position: absolute;
  transform: translate(-50%, -50%);
  right: 50%;
  left: 50%;
}

.name-p {
  padding-top: 20%;
  padding-bottom: 5%;
  text-align: center;
  color: hsl(228, 39%, 23%);
  font-weight: 700;
}

.info-p {
  padding-bottom: 13%;
  color: hsl(227, 12%, 61%);
  font-size: 0.85rem;
  text-align: center;
  width: 85%;
  margin: 0 auto;
  line-height: 1.5rem;
}

#switch-btn-cont {
  display: flex;
  width: 20%;
  margin: 0 auto 10% auto;
}

#btn1-cont, #btn2-cont, #btn3-cont, #btn4-cont {
  text-align: center;
  margin: 0 auto;
}

#btn1, #btn2, #btn3, #btn4 {
  width: 10px;
  height: 10px;
  border-style: solid;
  border-color: hsl(12, 88%, 59%);
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}

#btn1 {
  background-color: hsl(12, 88%, 59%);
}

.simplify-section {
  background-color: hsl(12, 88%, 59%);
  background-image: url("images/bg-simplify-section-mobile.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 25%;
  padding: 25% 0;
}

.simplify-h2 {
  color: hsl(0, 0%, 98%);
  text-align: center;
  width: 85%;
  margin: 0 auto;
  font-size: 2.35rem;
  padding-bottom: 5%;
}

.get-started-btn-white {
  text-align: center;
}

.get-started-btn-white button {
  padding: 3% 8%;
  background-color: hsl(0, 0%, 100%);
  border: 0;
  border-radius: 2.5rem;
  color: hsl(12, 88%, 59%);
  font-weight: 700;
  font-size: 0.85rem;
  cursor: pointer;
  transition: 0.3s;
}

.get-started-btn-white button:hover {
  color: hsla(12, 88%, 59%, 0.5);
}

.footer-section {
  background-color: hsl(233, 12%, 13%);
  padding-top: 10%;
}

form {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.email-cont {
  width: 80%;
  margin: 0 auto;
}

.email-input {
  width: 100%;
  padding: 4% 6%;
  border-radius: 2.5rem;
  margin-right: 2%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: hsl(0, 0%, 100%);
}

.email-input[type="email"]::placeholder { 
  opacity: 0.7;
  font-weight: 300;
  font-size: 0.8rem;
}

.from-btn-cont {
  width: 30%;
  text-align: right;
}

.form-btn {
  width: 90%;
  padding: 13% 6%;
  border-radius: 2.5rem;
  border: 0;
  font-weight: 700;
  color: hsl(0, 0%, 98%);
  background-color: hsl(12, 88%, 59%);
  text-transform: uppercase;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.3s;
}

.form-btn:hover {
  filter: brightness(150%);
}

.email-input:focus {
  outline-width: 0;
}

.email-input:invalid {
  border-width: 0.1rem;
  border-color: hsl(12, 88%, 59%);
}

.email-validation {
  visibility: hidden;
  text-align: left;
  font-size: 0.7rem;
  color: hsl(12, 88%, 40%);
  width: 85%;
  margin: 0 auto;
  font-style: italic;
}

.email-input:invalid~.email-validation {
  visibility: visible;
  text-align: left;
  font-size: 0.7rem;
  color: hsl(12, 88%, 40%);
  width: 85%;
  margin: 0 auto;
}

.footer-links-cont {
  display: flex;
  width: 100%;
  padding-top: 6%;
}

.footer-links1 {
  text-align: left;
  width: 100%;
  margin: 0 15%;
}

.footer-links2 {
  text-align: left;
  width: 100%;
}

.footer-links1 li, .footer-links2 li {
  list-style: none;
  padding: 3% 0;
}

.footer-links1 a, .footer-links2 a {
  text-decoration: none;
  color: hsla(0, 0%, 98%, 0.8);
  font-size: 0.8rem;
  transition: 0.3s;
}

.footer-links1 a:hover, .footer-links2 a:hover {
  color: hsl(12, 88%, 59%);
}

.footer-socials {
  text-align: center;
  width: 100%;
  padding: 10% 0;
}

.footer-socials li {
  display: inline;
  padding: 0 3%;
}

.footer-socials a {
  text-decoration: none;
}

.footer-socials a:hover {
  filter: invert(0.40) sepia(0.5) saturate(25) hue-rotate(330.4deg) brightness(0.90);
}

.footer-socials img {
  width: 35px;
}

.logo-footer {
  display: block;
  margin: 5% auto;
}

.copyright-p {
  text-align: center;
  color: hsla(0, 0%, 98%, 0.5);
  font-size: 0.7rem;
  padding-bottom: 5%;
}

@media only screen and (min-width: 768px) {
  .header-section-desktop {
    background-image: url("images/bg-tablet-pattern.svg");
    background-position: 150% -20%;
    background-size: 60%;
    background-repeat: no-repeat;
    padding-bottom: 6%;
  }

  .nav-bar-desktop {
    display: flex;
    width: 100%;
    margin: 0 auto;
  }

  .desktop-flex {
    display: flex;
    width: 100%;
  }

  .header-flex {
    width: 20%;
    margin: 0;
  }

  .logo-img {
    margin: 0;
    margin-top: 22px;
    margin-left: 10%;
  }

  .header-links {
    padding: 0;
    padding-top: 10px;
    margin-left: 8%;
  }

  .header-links li {
    display: inline;
    padding: 0 2%;
  }

  .header-links a {
    transition: 0.3s;
  }

  .header-links a:hover {
    color: hsl(227, 12%, 61%);
  }

  .toggle-on-cont, .toggle-off-cont {
    display: none;
  }

  .menu-container {
    visibility: visible;
    background-color: transparent;
    position: relative;
  }

  .get-started-btn-desktop {
    display: block;
    text-align: right;
    width: 20%;
    margin-right: 2%;
  }

  .get-started-btn-desktop button {
    padding: 12% 16%;
    background-color: hsl(12, 88%, 59%);
    box-shadow: 0px 3px 10px hsl(12, 88%, 59%);
    border: 0;
    border-radius: 2.5rem;
    color: hsla(13, 100%, 96%, 0.9);
    font-weight: 500;
    font-size: 0.85rem;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
  }

  .get-started-btn-desktop button:hover {
    opacity: 0.7;
  }

  .header-content-section {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding-top: 5%;
  }

  .illustration-img {
    display: none;
  }

  .illustration-img-desktop-cont {
    display: block;
    width: 50%; 
  }

  .illustration-img-desktop {
    display: block;
    width: 90%;
    margin: 5% auto 0 auto;
  }

  .header-text-cont {
    background-image: none;
    width: 50%;
    padding-bottom: 5%;
  }

  h1 {
    text-align: left;
    margin-left: 10%;
  }

  .header-p {
    text-align: left;
    margin-left: 10%;
  }

  .get-started-btn {
    text-align: left;
    margin-left: 10%;
  }

  .different-section {
    display: flex;
  }

  .different-header-cont {
    width: 50%;
  }

  .different-h2, .different-p {
    text-align: left;
    margin-left: 10%;
  }

  .pros-cont {
    width: 60%;
  }

  .points-p {
    background-color: transparent;
    margin: 0 auto;
  }

  .points-p span {
    margin-right: 4%;
    margin-left: -5%;
  }

  .desc-p {
    width: 60%;
  }

  .patern-desktop {
    display: block;
    width: 80%;
    position: absolute;
    margin-left: -55%;
  }

  .opinions-section {
    position: relative;
  }

  .opinions-h2 {
    padding: 5% 0 3% 0;
  }

  .opinions-cont {
    display: flex;
    width: 100%;
  }

  #opinion-1, #opinion-2, #opinion-3, #opinion-4 {
    width: 100%;
    display: block;
    margin-left: 1%;
    margin-right: 1%;
  }

  .profile-img {
    position: relative;
  }

  .name-p {
    padding: 0;
  }

  #switch-btn-cont {
    display: none;
  }

  .opinions-section .get-started-btn {
    text-align: center;
    width: 30%;
    margin: 0 auto;
  }

  .opinions-section .get-started-btn button {
    padding: 5% 12%;
  }

  .simplify-section {
    display: flex;
    padding: 0;
    background-image: url("images/bg-simplify-section-desktop.svg");
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: -20% 90%;
  }

  .simplify-h2 {
    text-align: left;
    width: 70%;
    margin: 3% auto 3% auto;
    padding: 0;
    font-size: 2rem;
  }

  .get-started-btn-white {
    width: 20%;
    margin: 5% 0 5% 0;
  }

  .get-started-btn-white button {
    padding: 5% 12%;
  }

  .footer-section {
    padding-top: 2%;
    display: grid;
    grid-template-areas: "logo links links form"
    "socials links links copyright"
    "att att att att";
    width: 100%;
  }

  form {
    grid-area: form;
    margin-bottom: 10%;
  }

  .logo-footer {
    grid-area: logo;
    margin-left: 5%;
  }

  .footer-socials {
    grid-area: socials;
    padding: 0;
    text-align: left;
    margin-left: 1%;
  }

  .footer-socials li {
    width: 20%;
  }

  .footer-socials img {
    width: 25px;
  }

  .footer-links-cont {
    grid-area: links;
    padding-top: 0;
  }

  .copyright-p {
    grid-area: copyright;
  }

  .attribution {
    grid-area: att;
    padding-top: 5%;
  }
}

@media only screen and (min-width: 1024px) {
  .get-started-btn-desktop button {
    padding: 12% 22%;
  }

  .logo-img {
    margin-top: 28px;
  }

  .nav-bar-desktop {
    width: 90%;
  }

  .points-p span {
    margin-left: -4%;
  }

  .patern-desktop {
    display: block;
    width: 75%;
    position: absolute;
    margin-left: -55%;
  }

  .simplify-section {
    background-position: -10% 80%;
  }

  form {
    margin-left: -5%;
  }

  .copyright-p {
    text-align: right;
    margin-right: 16%;
  }

  .logo-footer {
    margin-left: 15%;
  }

  .footer-socials {
    margin-left: 11%;
  }
}

@media only screen and (min-width: 1440px) {
  .header-section-desktop {
    background-image: url("images/bg-tablet-pattern.svg");
    background-position: 120% -100%;
    background-size: 55%;
    background-repeat: no-repeat;
    padding-bottom: 6%;
  }

  .nav-bar-desktop {
    width: 80%;
    padding-top: 3%;
  }

  .logo-img {
    width: 150px;
  }

  .header-links {
    text-align: right;
  }

  .get-started-btn-desktop button {
    padding: 10% 20%;
  }

  h1, .header-p {
    margin-left: 20%;
    width: 60%;
  }

  h1 {
    font-size: 3rem;
  }

  .get-started-btn {
    margin-left: 20%;
  }

  .illustration-img-desktop-cont {
    margin-right: 5%;
  }

  .illustration-img-desktop {
    margin-right: 5%;
  }

  .different-h2, .different-p {
    margin-left: 20%;
    width: 60%;
  }

  .different-h2 {
    font-size: 2rem;
  }

  .points-p span {
    margin-left: -2.5%;
  }

  .patern-desktop {
    display: block;
    width: 70%;
    position: absolute;
    margin-left: -55%;
  }

  .simplify-h2 {
    font-size: 2.5rem;
    width: 35%;
    margin: 3% 20% 3% 12%;
  }

  .get-started-btn-white {
    margin: 5% 9%;
  }
}

.attribution { 
	font-size: 11px; text-align: center;
  color: hsl(227, 12%, 61%); 
}

.attribution a { 
	color: hsl(12, 88%, 59%);
  text-decoration: none; 
}