* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Be Vietnam', sans-serif;
}

.header-nav {
  background-image: url("images/bg-tablet-pattern.svg");
  background-position: -190% 500%;
  background-size: 110%;
  background-repeat: no-repeat;
}

.header-flex {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.logo-img {
  margin: 20%;
  margin-top: 30px;
  width: 120px;
}

.toggle-on-cont {
  position: absolute;
  top: 30px;
  right: 6%;
}

.toggle-off-cont {
  z-index: 100;
  position: absolute;
  top: 30px;
  right: 6%;
  visibility: hidden;
}

.toggle-on {
  background: transparent;
  border-width: 0; 
}

.toggle-off {
  background: transparent;
  border-width: 0;
}

.open-icon, .close-icon {
  cursor: pointer;
}

.menu-container {
  visibility: hidden;
  position: absolute;
  top: 15%;
  width: 90%;
  display: block;
  right: 5%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
}

.header-links {
  text-align: center;
  padding: 10% 0;
}

.header-links li {
  list-style: none;
  padding: 3% 0;
}

.header-links a {
  text-decoration: none;
  color: hsl(228, 39%, 23%);
  font-weight: 700;
}

.illustration-img {
	display: block;
	width: 90%;
	margin: 5% auto 0 auto;
}

.press {
  visibility: visible;
}

.press2 {
  visibility: visible;
}

.press3 {
  visibility: hidden;
}

.shadow {
  filter: brightness(65%);
  background: rgba(0, 0, 0, 0.35);
}

.get-started-btn-desktop {
	display: none;
}

.header-text-cont {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 20%;
  background-image: url("images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: 260% 100%;
  background-size: 75%;
}

h1 {
  color: hsl(228, 39%, 23%);
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 2.2rem;
  padding-bottom: 2%;
}

.header-p {
  color: hsl(227, 12%, 61%);
  width: 85%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5%;
  line-height: 1.7rem;
}

.get-started-btn {
  text-align: center;
}

.get-started-btn button {
  padding: 3% 8%;
  background-color: hsl(12, 88%, 59%);
  box-shadow: 0px 3px 10px hsl(12, 88%, 59%);
  border: 0;
  border-radius: 2.5rem;
  color: hsla(13, 100%, 96%, 0.9);
  font-weight: 500;
  font-size: 0.85rem;
}

.different-h2 {
  color: hsl(228, 39%, 23%);
  width: 65%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 3%;
}

.different-p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: hsl(227, 12%, 61%);
  font-size: 0.9rem;
  line-height: 1.7rem;
  padding-bottom: 6%;
}

.points-p {
  color: hsl(228, 39%, 23%);
  width: 95%;
  text-align: left;
  margin: 12% 5% 3% 5%;
  padding: 2% 0%;
  background-color: hsl(13, 100%, 96%);
  font-weight: 700;
  border-radius: 2.5rem 0 0 2.5rem;
}

.points-p span {
  color: hsl(0, 0%, 98%);
  padding: 2% 7%;
  text-align: center;
  background-color: hsl(12, 88%, 59%);
  margin-right: 4%;
  border-radius: 2.5rem;
}

.desc-p {
  color: hsl(227, 12%, 61%);
  width: 90%;
  text-align: left;
  margin: 0 auto;
  font-size: 0.82rem;
  line-height: 1.5rem;
}

.opinions-h2 {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.8rem;
  padding: 15% 0;
}

#opinion-1, #opinion-2, #opinion-3, #opinion-4 {
  width: 90%;
  margin: 10% auto 5% auto;
  background-color: hsl(0, 0%, 98%);
}

#opinion-1 {
  display: block;
}

#opinion-2 {
  display: none;
}

.select-1 {
  display: none;
}

#opinion-3 {
  display: none;
}

#opinion-4 {
  display: none;
}

.profile-img {
  width: 65px;
  position: absolute;
  transform: translate(-50%, -50%);
  right: 50%;
  left: 50%;
}

.name-p {
  padding-top: 20%;
  padding-bottom: 5%;
  text-align: center;
  color: hsl(228, 39%, 23%);
  font-weight: 700;
}

.info-p {
  padding-bottom: 13%;
  color: hsl(227, 12%, 61%);
  font-size: 0.85rem;
  text-align: center;
  width: 85%;
  margin: 0 auto;
  line-height: 1.5rem;
}

#switch-btn-cont {
  display: flex;
  width: 20%;
  margin: 0 auto 10% auto;
}

#btn1-cont, #btn2-cont, #btn3-cont, #btn4-cont {
  text-align: center;
  margin: 0 auto;
}

#btn1, #btn2, #btn3, #btn4 {
  width: 10px;
  height: 10px;
  border-style: solid;
  border-color: hsl(12, 88%, 59%);
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}

#btn1 {
  background-color: hsl(12, 88%, 59%);
}

.attribution { 
	font-size: 11px; text-align: center; 
}

.attribution a { 
	color: hsl(228, 45%, 44%); 
}

