* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  background: linear-gradient(180deg, hsl(273, 75%, 66%) 20%, hsl(240, 73%, 65%) 100%);
  background-repeat: no-repeat;
}

@media only screen and (max-width: 375px) {
  main {
    width: 90%;
    margin: 9rem auto 5rem auto;
    border-radius: 1.5rem;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 15px 25px hsl(238, 29%, 50%);
  }

  .image-section-desktop {
    display: none;
  }

  .box-img-desktop {
    display: none;
  }

  .main-img-cont-mobile {
    position: absolute;
    left: 50%;
    transform: translate(-55%, -50%);
    z-index: 100;
  }

  .pattern-img-cont-mobile {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    z-index: 0;
  }

  h1 {
    padding-top: 45%;
    text-align: center;
    padding-bottom: 5%;
  }

  .faq-btn-cont {
    text-align: left;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 10%;
  }

  .faq-btn-cont button {
    width: 100%;
    text-align: left;
    background: transparent;
    border-width: 0;
    cursor: pointer;
    color: hsla(229, 8%, 10%, 0.8);
    font-weight: 500;
    font-size: 0.8rem;
    padding: 6% 0;
    display: flex;
  }

  #faq-btn-1, #faq-btn-2, #faq-btn-3, #faq-btn-4, #faq-btn-5 {
    border-bottom: 1px solid hsl(229, 8%, 80%);
  }

  #question1, #question2, #question3, #question4, #question5 {
    color: hsl(237, 12%, 33%);
    font-size: 0.85rem;
  }

  #question1:hover, #question2:hover, #question3:hover, #question4:hover, #question5:hover {
    color: hsl(14, 88%, 65%);
  }
  
  .faq-btn-cont p {
    color: hsl(240, 6%, 50%);
    font-size: 0.7rem;
    display: none;
  }

  .btn-cont1, .btn-cont2, .btn-cont3, .btn-cont4, .btn-cont5 {
    display: flex;
  }

  #open-arrow1, #open-arrow2, #open-arrow3, #open-arrow4, #open-arrow5 {
    display: block;
    margin: auto;
    transition: 0.2s all ease-in-out;
  }

  #faq-answer1, #faq-answer2, #faq-answer3, #faq-answer4, #faq-answer5 {
    line-height: 1.6rem;
    padding-bottom: 6%;
  }
}

@media only screen and (min-width: 375px) {

  main {
    max-width: 20rem;
    margin: 9rem auto 5rem auto;
    border-radius: 1.5rem;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 15px 25px hsl(238, 29%, 50%);
  }

  .image-section-desktop {
    display: none;
  }

  .box-img-desktop {
    display: none;
  }

  .main-img-cont-mobile {
    position: absolute;
    left: 50%;
    transform: translate(-55%, -50%);
    z-index: 100;
  }

  .pattern-img-cont-mobile {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    z-index: 0;
  }

  h1 {
    padding-top: 45%;
    text-align: center;
    padding-bottom: 5%;
  }

  .faq-btn-cont {
    text-align: left;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 10%;
  }

  .faq-btn-cont button {
    width: 100%;
    text-align: left;
    background: transparent;
    border-width: 0;
    cursor: pointer;
    color: hsla(229, 8%, 10%, 0.8);
    font-weight: 500;
    font-size: 0.8rem;
    padding: 6% 0;
    display: flex;
  }

  #faq-btn-1, #faq-btn-2, #faq-btn-3, #faq-btn-4, #faq-btn-5 {
    border-bottom: 1px solid hsl(229, 8%, 80%);
  }

  #question1, #question2, #question3, #question4, #question5 {
    color: hsl(237, 12%, 33%);
    font-size: 0.85rem;
  }

  #question1:hover, #question2:hover, #question3:hover, #question4:hover, #question5:hover {
    color: hsl(14, 88%, 65%);
  }

  .faq-btn-cont p {
    color: hsl(240, 6%, 50%);
    font-size: 0.7rem;
    display: none;
  }

  .btn-cont1, .btn-cont2, .btn-cont3, .btn-cont4, .btn-cont5 {
    display: flex;
  }

  #open-arrow1, #open-arrow2, #open-arrow3, #open-arrow4, #open-arrow5 {
    display: block;
    margin: auto;
    transition: 0.2s all ease-in-out;
  }

  #faq-answer1, #faq-answer2, #faq-answer3, #faq-answer4, #faq-answer5 {
    line-height: 1.6rem;
    padding-bottom: 6%;
  }
}

@media only screen and (min-width: 1024px) {

  main {
    max-width: 800px;
  }

  .images-section-mobile {
    display: none;
  }

  .image-section-desktop {
    display: block;
    position: absolute;
    transform: translate(-15%, 15%);
  }

  .box-img-desktop {
    display: block;
    position: absolute;
    transform: translate(-50%, 80%);
    z-index: 100;
  }

  .main-img-desktop {
    width: 400px;
    height: 305px;
  }

  .box-img {
    width: 190px;
    height: 185px;
  }

  .content-section {
    background-image: url(images/bg-pattern-desktop.svg);
    background-position: -470% 75%; 
    background-size: 90%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
  }

  .text-cont {
    margin: 0 50%;
    width: 50%;
  }

  h1 {
    padding-top: 5%;
    font-size: 2rem;
    text-align: left;
  }

  .faq-btn-cont {
    margin: 0;
  }

  #question1, #question2, #question3, #question4, #question5 {
    font-size: 1.1rem;  
  }

  #question1:hover, #question2:hover, #question3:hover, #question4:hover, #question5:hover {
    color: hsl(14, 88%, 65%);
  }

  #faq-answer1, #faq-answer2, #faq-answer3, #faq-answer4, #faq-answer5 {
    font-size: 0.9rem;
  }

  .attribution { 
    font-size: 11px; text-align: center; 
    color: hsl(240, 5%, 91%);
    padding-top: 3%;
  }
}

@media only screen and (min-width: 1156px) {
  main {
    max-width: 900px;
  }
}

.attribution { 
  font-size: 11px; text-align: center; 
  color: hsl(240, 5%, 91%);
}

.attribution a { 
  color: hsl(238, 29%, 16%);
  text-decoration: none; 
}